.body{
    background-color: var(--second-backgroundC);
}
.mainS{
    padding: 24px;
}
.top{
    display: grid;
    grid-template-columns: 3fr 1.5fr;
    gap: 24px;
    margin-bottom: 23px;
}
.topRight{
    display: grid;
    grid-template-columns: 3.5fr 3fr;
    gap: 254px;
    /* justify-content: space-between; */
    background-color: var(--button-color);
    height: fit-content;
    padding: 32px;
    border-radius: 16px;
}
.trTexts{
    display: grid;
    place-content: center;
    color: #fff;
}
.trTexts h1{
    font-size: 3.375rem;
    font-weight: 500;
    margin-bottom: 8px;
    line-height: 64px;
}
.trTexts p{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 30px;
}
.trTexts a{
    background-color: #fff;
    color: var(--alternate-button-color);
    padding: 14px 20px;
    border: 1.5px solid var(--border-color);
    width: fit-content;
    border-radius: 12px;
}
.topLeft{
    display: grid;
    height: fit-content;
    padding: 32px;
    border-radius: 16px;
    background-color: #fff;
}
.topLeft h2{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 16px;
}
.tlImg{
    width: 100px;
    margin: auto;
    margin-bottom: 50px;
}
.topLeft button{
    background-color: var(--button-color);
    color: #fff;
    width: fit-content;
    padding: 12px 16px;
    margin: auto;
}
.bottom{
    display: grid;
    grid-template-columns: 3fr 1.5fr;
    gap: 24px;
}
.bottomR{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* justify-content: space-between; */
    gap: 33px;
}
.bottomR a{
    display: inline-block;
}
.journal, .scenarios{
    /* display: grid; */
    background-color: #fff;
    border-radius: 16px;
    padding: 32px;
    height: 100%;
}
.journal h2, .scenarios h2{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 16px;
}
.journal p, .scenarios p{
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 48px;
}
.jImg{
    width: 250px;
    margin: auto;
}
.sImg{
    width: 264px;
    margin: auto;
}
.posi{
    width: 33px;
    margin-left: 118px;
}
.scenarios a{
    background-color: var(--button-color);
    padding: 14px 20px;
    color: #fff;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: 400;
    margin: auto;
    display: flex;
    margin-top: 72px;
    width: fit-content;
}
.bottomL{
    display: grid;
    gap: 33px;
    grid-template-rows: 1fr 1fr;
}
.therapy, .materials{
    background-color: #fff;
    border-radius: 16px;
    padding: 32px;
}
.therapy h2, .materials h2{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 24px;
}
.therapy p, .materials p{
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 8px;
}
.therapy a{
    display: inline-block;
    padding: 12px 16px;
    border: 1.5px solid var(--button-color);
    border-radius: 12px;
}
.materials h2{
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}
.materials p{
    display: inline-flex;
    gap: 24px;
    align-items: center;
    width: 100%;
    padding: 16px 0;
    border-bottom: 1px solid var(--border-color);
}
dialog {
  border: 0;
  padding: 0;
  border-radius: 10px;
  overflow: hidden;
  background-color: transparent;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

dialog::backdrop {
  background-color: rgba(0,0,0,0.5);
}

.dialog {
  width: 54rem;
  height: fit-content;
  margin: auto;
  background-color: white;
  border-radius: 16px;
  border: 1px solid var(--border-color);
  margin-top: 40%;
  transform: translateY(-50%); 
  padding: 24px;
  display: grid;
  gap: 20px;
}
.dialogTexts{
    display: grid;
    gap: 4px;
}
.dialogTexts h2{
    font-size: 2rem;
    font-weight: 400;
}
.dialogTexts h2 span{
    font-weight: 500;
}
.dialogTexts p{
    font-size: 1.5rem;
    font-weight: 400;
}
.emojiList{
    display: flex;
    justify-content: space-between;
}
.emojiList button {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.emojiList button p{
    color: var(--primary-color);
    padding: 10px;
}
.emojiList button div{
    width: 40px;
}
.emojiList button:hover p{
    background-color: var(--button-color);
    color: #fff;
    border-radius: 16px;
}
@media screen and (max-width: 760px) {
    .mainS{
        padding: 32px 24px 48px;
    }
    .top{
        display: flex;
        flex-direction: column-reverse;
        
    }
    .topLeft{
        display: flex;
        padding: 24px 32px;
        gap: 16px;
        align-items: center;
    }
    .topLeft h2{
        font-size: 0.875rem;
        font-weight: 600;
        text-align: left;
        line-height: 22px;
        margin: 0;
        width: 143px;
        
    }
    .tlImg{
        width: 40px;
        margin: 0;
    }
    .topLeft button{
        padding: 6px 8px;
        font-size: 0.75rem;
        font-weight: 600;
        margin: 0;
        flex-grow: 1;
        height: fit-content;
    }
    .topRight{
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .trTexts h1{
        font-size: 1.125rem;
        font-weight: 600;
        line-height: 26px;
        width: 103px;
    }
    .trTexts p{
        font-size: 0.875rem;
        font-weight: 400;
    }
    .trImg{
        width: 108px;
    }
    .trTexts a{
        padding: 8px 12px;
        font-size: 0.75rem;
        font-weight: 400;
    }
    .bottom{
        display: flex;
        flex-direction: column;
    }
    .bottomR{
        display: flex;
        flex-direction: column;
    }
    .bottomL{
        display: flex;
        flex-direction: column;
    }
    .journal h2, .scenarios h2{
        font-size: 1.125rem;
        font-weight: 600;
        text-align: center;
    }
    .journal p, .scenarios p{
        font-size: 0.875rem;
        font-weight: 400;
        text-align: center;
    }
    .jImg{
        width: 102px;
    }
    .scenarios h2, .therapy h2, .materials h2{
        font-size: 1.125rem;
        font-weight: 600;
        text-align: left;
    }
    .scenarios p, .therapy p, .materials p{
        font-size: 0.875rem;
        font-weight: 400;
        text-align: left;
    }
    .posi{
        width: 29px;
    }
    .scenarios a{
        margin-top: 14px;
    }
    .sImg{
        width: 164px;
    }
    .therapy a{
        font-size: 0.875rem;
        font-weight: 600;
        margin-top: 16px;
    }
    .materials p svg{
        width: 24px;
    }
    .materials h2 a{
        display: flex;
        align-self: center;
    }
    .dialog{
        width: 25rem;
    }
    .dialogTexts h2{
        font-size: 1.125rem;
        font-weight: 600;
    }
    .dialogTexts p{
        font-size: 1rem;
        font-weight: 400;
    }
    .emojiList{
        display: grid;
        gap: 16px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .emojiList button p{
        font-size: 0.875rem;
        font-weight: 400;
    }
}