.body{
    background-color: var(--second-backgroundC);
    padding-bottom: 32px;
}
.jSection{
    margin: 32px 100px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 24px;
    padding: 32px;
    border-radius: 12px;
}
.left{
    border: 1px solid #DBDCE2;
    display: grid;
    gap: 24px;
    height: fit-content;
}
.box{
    border-bottom: 1px solid #DBDCE2;
}
.inputB{
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 16px 24px;
    border: 1.5px solid #E5E7EA;
    padding: 12px;
    border-radius: 12px;
    background-color: #F9FAFB;
}
.inputB input{
    border: none;
}
.entry{
    display: grid;
    gap: 8px;
    padding: 24px;
}
.entry h3{
    font-size: 1.125rem;
    font-weight: 600;
}
.entry p{
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 22px;
    width: 324px;
}
.entry:not(:last-of-type){
    border-bottom: 1px solid #DBDCE2;
}
.right{
    display: grid;
    gap: 24px;
    height: fit-content;
}
.right h2{
    font-size: 1.5rem;
    font-weight: 500;
} 
.right textarea{
    width: 686px;
    height: 664px;
    background-image: url(../images/notebook.png);
    border: none;
    padding: 32px;
    resize: none;
    position: relative;
}
.right textarea:focus{
    outline: none;
}
.right button{
    padding: 14px 20px;
    margin-left: 594px;
}
/* .right::before{
    content: '';
    background-image: url(../images/prescription.png);
    background-repeat: no-repeat;
} */