.body{
    background-color: var(--second-backgroundC);
    padding-bottom: 80px;
}
.mHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
}
.primary{
    background-color: #fff;
    border-radius: 32px;
    padding: 6px 0;
}
.primary ul{
    display: flex;
    gap: 16px;
}
.primary ul li a{
    display: inline-block;
    padding: 16px 24px;
    transition: all 0.6s ease ;
}
.primary ul li:nth-of-type(4) a{
    background-color: var(--foundation-color);
    color: #fff;
    border-radius: 32px;
}
.primary ul li a:hover{
    background-color: rgba(1, 31, 27, 0.8);
    color: #ffffff;
    border-radius: 32px;
}
.secondary ul{
    display: flex;
    gap: 32px;
    align-items: center;
}
.secondary ul li:nth-of-type(3) a{
    display: inline-flex;
    gap: 8px;
    align-items: center;
}
.logoCtn{
    width: 180px;
    height: 40px;
}
.messageSection{
    margin: 0 100px;
    margin-top: 32px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 16px;
    padding: 16px 0;
    border-radius: 12px;
}
.left{
    border-right: 1px solid #DBDCE2;
    border-left: 1px solid #DBDCE2;
    display: grid;
    gap: 16px;
    height: fit-content;
}
.box{
    border-bottom: 1px solid #DBDCE2;
    padding: 16px;
    display: grid;
    gap: 16px;
}
.box p{
    font-size: 0.875rem;
    font-weight: 600;
}
.inputB{
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1.5px solid #E5E7EA;
    padding: 12px;
    border-radius: 12px;
    background-color: #F9FAFB;
}
.inputB input{
    border: none;
}
.allMessages{
    display: grid;
}
.message{
    display: flex;
    gap: 8px;
    padding: 16px;
    border-bottom: 1px solid #DBDCE2;
}
.avatarCtn{
    width: 48px;
}
.texts{
    display: grid;
    gap: 4px;
    width: 100%;
}
.top, .bottom{
    display: flex;
    justify-content: space-between;
    
}
.top h3{
    font-size: 1rem;
    font-weight: 600;
}
.top p{
    font-size: 0.75rem;
    font-weight: 400;
}
.bottom p{
    font-size: 0.875rem;
    font-weight: 400;
}