.body{
    background-color: var(--second-backgroundC);
    padding-bottom: 80px;
}

.messageSection{
    margin: 0 100px;
    margin-top: 32px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 16px;
    padding: 16px 0;
    border-radius: 12px;
}
.left{
    border-right: 1px solid #DBDCE2;
    border-left: 1px solid #DBDCE2;
    display: grid;
    gap: 16px;
    height: fit-content;
}
.box{
    border-bottom: 1px solid #DBDCE2;
    padding: 16px;
    display: grid;
    gap: 16px;
}
.box p{
    font-size: 0.875rem;
    font-weight: 600;
}
.inputB{
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1.5px solid #E5E7EA;
    padding: 12px;
    border-radius: 12px;
    background-color: #F9FAFB;
}
.inputB input{
    border: none;
}
.allMessages{
    display: grid;
}
.message{
    display: flex;
    gap: 8px;
    padding: 16px;
    border-bottom: 1px solid #DBDCE2;
}
.avatarCtn{
    width: 48px;
}
.texts{
    display: grid;
    gap: 4px;
    width: 100%;
}
.top, .bottom{
    display: flex;
    justify-content: space-between;
    
}
.top h3{
    font-size: 1rem;
    font-weight: 600;
}
.top p{
    font-size: 0.75rem;
    font-weight: 400;
}
.bottom p{
    font-size: 0.875rem;
    font-weight: 400;
}