label{
    display: grid;
    gap: 8px;
}
.labelText{
    font-size: 1rem;
    font-weight: 500;
}
.inputBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--border-color);
    padding: 12px;
    border-radius: 12px;
    gap: 8px;
}
.inputBox input{
    flex-grow: 1;
    border: none;
    padding: 0;
}
label > .p{
    text-align: left;
    font-size: 0.875rem;
}
@media screen and (max-width:760px) {
    label > .p{
        text-align: left;
        font-size: 0.75rem;
        font-weight: 400;
    }
    .inputBox svg{
        width: 18px;
    }
    .labelText{
        font-size: 0.875rem;
        font-weight: 600;
    }
}