.questionCard{
    background-color: #fff;
    border-radius: 12px;
    padding: 32px;
    margin-top: 20px;
}
.questionCard h3{
    background-color: #D9E6E4;
    border-radius: 12px;
    padding: 24px 32px;
    font-size: 1.125rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 69px;
}
.qImg{
    width: 200px;
    display: block;
    margin: auto;
    margin-bottom: 99px;
}
.answer{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 24px;
    margin-bottom: 28px;
    align-items: end;
}
.answer label input{
    display: none;
}
.answer label span{
    display: inline-block;
    background-color: #F3F4FB;
    font-size: 0.875rem;
    font-weight: 400;
    padding: 16px;
    border-radius: 12px;
    height: fit-content;
}
.answer label:has(input:checked) span{
    background-color: var(--button-color);
    color: #fff;
}
.message{
    display: flex;
   gap: 20px; 
}
.message input{
    flex-grow: 1;
}
.message button{
    padding: 12px 16px;
    border-radius: 12px;
}