.body{
    background-color: var(--second-backgroundC);
    padding-bottom: 46px;
}
.rSection{
    margin: 32px 142px 0;
    display: grid;
    gap: 24px;
}
.top{
    display: grid;
    grid-template-columns: 566px 566px;
    gap: 24px;
}
.topLeft{
    display: grid;
    gap: 16px;
    padding: 24px 32px;
    border-radius: 16px;
    background-color: #fff;
}
.topLeft h3, .topRight h3{
    font-size: 1.25rem;
    font-weight: 600;
}
.tlBox{
    display: grid;
    grid-template-columns: 296px 1fr;
}
.tlTexts{
    display: grid;
    gap: 16px;
}
.topT{
    display: grid;
    gap: 4px;
}
.topT > p{
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 26px;
}
.row{
    display: flex;
    gap: 8px;
    align-items: center;
}
.row span:first-of-type, .row span:last-of-type, .topT p:last-of-type{
    font-size: 0.827rem;
    font-weight: 400;
}
.tlTexts button{
    background-color: transparent;
    color: var(--secondary-color);
    font-size: 0.827rem;
    font-weight: 400;
    display: flex;
    height: fit-content;
}
.topRight{
    padding: 24px 32px;
    border-radius: 16px;
    background-color: #fff;
    display: grid;
    gap: 24px;
}
.inputField{
    display: grid;
    gap: 16px;
}
.lab{
    display: grid;
    gap: 8px;
}
.labelText{
    font-size: 1rem;
    font-weight: 600;
}
.lab input{
    min-width: 0;
    width: 100%;
}
.inputRow{
    display: flex;
    gap: 24px;
}

.inputRow > * {
    flex: 1;
}

.lab > input {
    text-align: center;
}


.lab > input[type="date"]::-webkit-calendar-picker-indicator, 
.lab > input[type="time"]::-webkit-calendar-picker-indicator  {
    display: none;
  }
.topRight button{
    padding: 14px 20px;
    border-radius: 12px;
    width: fit-content;
    display: flex;
    margin-left: auto;
}
.bottom{
    display: grid;
    padding: 16px 32px;
    gap: 24px;
    width: 100%;
    background-color: #fff;
    border-radius: 16px;
}
.topBottom{
    display: flex;
    gap: 379px;
    align-items: center;
}
.topBottom h2{
    font-size: 1.5rem;
    font-weight: 500;
}
.searchBar{
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 12px;
    border: 1.5px solid #E5E7EA;
    flex-grow: 1;
    border-radius: 12px;
}
.searchBar input{
    flex-grow: 1;
    border: none;
}
.reminderTable{
    border: 1px solid #DBDCE2;
}
.row1{
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr 0.9fr;
    padding: 24px 32px;
    border-bottom: 1px solid #DBDCE2;
}
.row1 h3{
    font-size: 1.125rem;
    font-weight: 600;
}
.row2{
    display: grid;
    grid-template-columns: 5fr 3.9fr;
    padding: 24px 32px;
    align-items: center;
}
.rb{
    display: grid;
    grid-template-columns: 2fr 1fr 0.9fr;
}
.rg{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.row2:not(:last-of-type){
    border-bottom: 1px solid #DBDCE2;
}
.row2 p{
    font-size: 1rem;
    font-weight: 400;
}
.rb > p{
    padding: 8px 12px;
    border-radius: 12px;
    width: fit-content;
    font-size: 0.75rem;
    font-weight: 600;
    display: flex;
    margin: auto;    
}
.rg p{
 text-align: center;
}
.row1 h3:not(:first-of-type){
    text-align: center;
}
.row2 button{
    background-color: transparent;
    color: var(--primary-color);
}
.inActive{
    background-color: #FDECEC;
    color: #EE443F;
    border: 1px solid #EE443F;
}
.active{
    background-color: #ECF8EF;
    border: 1px solid #43B75D;
    color: #43B75D;
}
.dialog{
    width: 35.25rem;
    background-color: #fff;
    padding: 32px;
    border-radius: 16px;
    display: grid;
    gap: 32px;
}
.dbtn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dbtn h2{
    font-size: 1.5rem;
    font-weight: 500;
}
.dbtn button{
    background-color: transparent;
    color: var(--primary-color);
}
.modalDets{
    display: grid;
    gap: 16px;
}
.modalImg{
    width: 500px;
    height: 250px;
    overflow: hidden;
    border-radius: 16px;
}
.dets{
    display: grid;
    gap: 8px;
    width: 417px;
}
.dets h3{
    font-size: 1.25rem;
    font-weight: 600;
}
.dets > p{
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 26px;
}
.dets p:nth-of-type(2){
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}
.dRows{
    display: flex;
    gap: 8px;
    align-items: center;
}
.dRows span{
    font-size: 1rem;
    font-weight: 400;
}
.dRows:last-of-type span{
    font-size: 0.875rem;
    font-weight: 400;
}
.dialog2{
    top: 20%;
}
.dialogSuccess{
    background-color: #fff;
    width: 45rem;
    padding: 32px;
    border-radius: 16px;
    display: grid;
    gap: 40px;
}
.dbt{
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
.dbt h2{
    font-size: 1.25rem;
    font-weight: 600;
}
.dbt button{
    background-color: transparent;
    color: var(--primary-color);
}
.dialogSuccess p{
    font-size: 1.125rem;
    font-weight: 400;
}
.dialogDelete{
    width: 30rem;
    background-color: #fff;
    padding: 32px;
    display: grid;
    gap: 32px;
    border-radius: 16px;
}
.deleteImg{
    width: 153px;
    margin: auto;
}
.deleteDets{
    display: grid;
    gap: 48px;
    width: 299px;
    margin: auto;
}
.ddT{
    display: grid;
    gap: 8px;
    text-align: center;
}
.ddT h2{
    font-size: 1.5rem;
    font-weight: 500;
}
.ddT p{
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 26px;
}
.dbtns{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dbtns button{
    width: 137px;
    padding: 14px 20px;
    font-size: 0.75rem;
    font-weight: 600;
}
.dbtns button:first-of-type{
    background-color: #fff;
    border: 1.5px solid var(--button-color);
    color: var(--primary-color);
}
@media screen and (max-width: 760px) {
    .rSection{
        margin: 24px;
        display: flex;
        flex-direction: column;
    }
    .tlBox{
        display: flex;
    }
    .bottom{
        display: flex;
        flex-direction: column;
    }
    .row1{
        display: none;
    }
    .row2 {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
    }
    .row2 > p{
        font-size: 0.875rem;
    }
    .rb{
        display: flex;
        gap: 34px;    
    }
    .rg{
        display: flex;
        gap: 10px;
    }
    .rb > p{
        display: none;
    }
    .diff{
        display: flex;
        flex-direction: column;
    }
    .dialogSuccess{
        width: 24rem;
    }
    .dialogSuccess p{
        font-size: 0.875rem;
    }
    .dialogDelete{
        width: 24rem;
        padding: 80px 32px;
    }
    .dbtns button{
        font-size: 0.875rem;
    }
 }