.container {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.container form {
    width: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding: 32px;
    background-color: white;
    border-radius: 16px;
}

.container button {
   height: 48px;
    font-weight: 400;
    color: white;
    font-size: 1rem;
  }
  